<!--<!DOCTYPE html>-->
<!--<html lang="vi" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--  <meta charset="UTF-8">-->
<!--  <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--  <title>Header</title>-->
<!--  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">-->
<!--  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">-->
<!--</head>-->
<!--<body>-->
<!--<header class="bg-gradient-to-r from-teal-400 to-blue-600">-->
<!--  <div class="container mx-auto px-4 py-6 flex items-center justify-between">-->
<!--    <a href="/" class="flex items-center">-->
<!--      <p>Back To Index</p>-->
<!--    </a>-->
<!--    <nav class="flex space-x-6 text-white">-->
<!--      <a href="@{/home}" class="hover:text-teal-200">Tìm Việc Làm</a>-->
<!--      <a href="@{/cv}" class="hover:text-teal-200">CV Hay</a>-->
<!--      <a href="@{/vietnamSalary}" class="hover:text-teal-200">VietnamSalary</a>-->
<!--      <a href="@{/careerMap}" class="hover:text-teal-200">CareerMap</a>-->
<!--      <a href="@{/resources}" class="hover:text-teal-200">Cẩm Nang</a>-->
<!--      <a href="@{/careerStart}" class="hover:text-teal-200">CareerStart</a>-->
<!--    </nav>-->
<!--    <div class="flex items-center">-->
<!--      <a href="@{/login}" class="text-white hover:text-teal-200">Đăng Nhập</a>-->
<!--      <button class="ml-4 px-4 py-2 bg-teal-700 text-white rounded hover:bg-teal-600">Dành cho Nhà Tuyển Dụng</button>-->
<!--    </div>-->
<!--  </div>-->
<!--</header>-->
<!--</body>-->
<!--</html>-->
